<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
    </div>
    <a class="sidebar-nav-item" href="index.html#downloading">Downloading and Getting Started</a>
    <a class="sidebar-nav-item" href="index.html#bmc">Using Bounded Model Checking</a>
    <a class="sidebar-nav-item" href="index.html#inductive">Inductive Invariants for Leader Election</a>
    <a class="sidebar-nav-item" href="index.html#lswitch">Inductive Invariants for Learning Switch</a>
    <a class="sidebar-nav-item" href="http://www.cs.tau.ac.il/~odedp/ivyvm.tar.bz2">Download VM</a>
  </div>
</div>
