<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="http://apanda.github.io/ivy">
          {{ site.title }}
        </a>
      </h1>
    </div>
    <a class="sidebar-nav-item" href="http://www.cs.tau.ac.il/~odedp/pldi16-paper228.pdf">Download Paper</a>
    <a class="sidebar-nav-item" href="http://www.cs.tau.ac.il/~odedp/ivyvm.zip">Download VM</a>
    <a class="sidebar-nav-item" href="index.html#overview">Overview</a>
    <a class="sidebar-nav-item" href="index.html#downloading">Downloading and Getting Started</a>
    <a class="sidebar-nav-item" href="index.html#bmc">Using Bounded Model Checking</a>
    <a class="sidebar-nav-item" href="index.html#inductive">Inductive Invariant for Leader Election</a>
    <a class="sidebar-nav-item" href="index.html#other_examples">Other examples</a>
  </div>
</div>
